.book-container {
	display: flex;
	flex-direction: row;
	max-width: 90vw;
	height: 19rem;
	overflow-x: scroll;
	align-items: center;
	margin: auto;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
	border-radius: 1.2rem;
}
.all-books-container h6,
.recent-books-container h6 {
	left: 3.2rem;
	top: 4.5rem;
	font-size: 1rem;
}
.book-container::-webkit-scrollbar {
	width: 0.5em;
	display: none;
}
.book-card {
	height: 15rem;
	padding: 1rem;
	max-width: 12rem;
	min-width: 12rem;
	border: 0.1rem solid #000;
	margin: 0rem 1rem;
	box-shadow: 0rem 0rem 0.1rem 0.1rem #8b8b8b;
	border-radius: 1.2rem;
	text-decoration: none;
}
.book-card img {
	width: 12rem;
	height: 6rem;
}
.book-card p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	white-space: normal;
}
.book-card h5,
.book-card {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	white-space: normal;
}
.full-container::-webkit-scrollbar {
	display: none;
}
.full-container {
	max-height: calc(100vh - 4rem);
	min-height: calc(100vh - 4rem);
	overflow: scroll;
}
.recent-books-container,
.all-books-container {
	margin-top: 1rem;
}
